.fondSansLesMarges {
    position: absolute;
    top: 0;
    left: 0;
    width: 81vw;
    height: 2867px;
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 5%;
    /* Rectangle 6 */

    background: url(front\assets\img\fondDiv.svg);  

    backdrop-filter: blur(1000px);
    /* Note: backdrop-filter has minimal browser support */
}
.fondArticle {
    position: absolute;
    background: linear-gradient(144.37deg, rgba(18, 71, 94, 0.15) 0%, rgba(18, 71, 94, 0.05) 90.25%);
    backdrop-filter: blur(100px);
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 3.90625vw;
    margin-right: 3.90625vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.fondArticle2 {
    position: absolute;
    background: linear-gradient(144.37deg, rgba(18, 71, 94, 0.15) 0%, rgba(18, 71, 94, 0.05) 90.25%);
    backdrop-filter: blur(100px);
    margin-top: 1800px;
    margin-bottom: 64px;
    margin-left: 3.90625vw;
    margin-right: 3.90625vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.AproposTitre {
    padding-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.h3about {
    font-family: Montserrat;
    text-indent: 2%;
    padding-top: 35px;
    padding-bottom: 17.5px;
    
}

.h2about {
    text-indent: 6.2vw;
}
.fondAbout {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    padding-bottom: 100px;
}
.codbarabout{
    position: absolute;
    width: 20px;
    height: 337px;
    left: 30px;
    top: 333px;

}
