.article{
    padding-top: 8rem;
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-top{
        margin-top: 5rem;
        width: 30vw;
        height: 12rem;
        object-fit: cover;
    }
}