header {
  position: fixed;
  font-family: $montserrat;
  height: 3rem;
  z-index: 99;
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  font-weight: 600;
  .navbar {
    margin-top: 1.5rem;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    
    .highlight {
      color: $primary;
    }
    a {
      color: white;
      margin-right: 2rem;
      text-decoration: none;
    }
    #logo {
      position: fixed;
      top: 10px;
      left: 3vw;
      @media (min-width: 1440px) {
        left: 5vw;
      }
      img {
        height: 56px;
      }
    }
  }
}
