.container-arrivee {
  width: 100vw;
  height: 100vh;

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      display: flex;
      justify-content: center;
    }
    h1{
      margin-left: 0.5rem;
      font-size: 4rem;
    }
  }

  .background {
    position: relative;
    overflow: hidden;
    
    img {
      max-width: 100%;
      filter: brightness(0.8);
    }
  }
}
