.container-arrivee {
  width: 100vw;
  position: relative;

  #slider {
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;

    figure {
      display: flex;
      position: relative;
      width: 500%;
      margin: 0;
      padding: 0;
      font-size: 0;
      animation: 30s slidy infinite;

      .slide-content {
        width: 20%;
        height: 100vh;
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
        background-image: url(./../../assets/img/drone-carrousel.jpg);
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          display: flex;
          justify-content: center;
          align-items: center;

          h1 {
            margin-left: 0.5rem;
            font-size: 4rem;
          }
        }
      }
    }
  }

  .content-slider2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;

    .content-slider-abso {
      position: absolute;
      display: flex;
      align-items: flex-end;
      overflow: hidden;

      width: 50vw;
      max-width: 50vw;
      height: 100vh;

      #slider2 {
        display: flex;
        position: relative;
        width: 50vw;
        margin: 0;
        padding: 0;
        font-size: 0;

        figure {
          background: rgba(3, 63, 133, 0.1);
          box-shadow: 12px 12px 12px rgba(0, 40, 59, 0.6),
            inset 60px 12px 100px rgba(0, 0, 0, 0.7);
          backdrop-filter: blur(50px);

          display: flex;
          position: relative;
          width: 300%;

          height: 30%;
          display: flex;

          animation: 30s slidy infinite;
          .slide-content-2 {
            width: 300vw;

            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            padding-right: 10px;


            .date-mini {
              text-decoration: overline;

            }
          }
        }
      }
    }
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
  }
  60% {
    left: -100%;
  }
  65% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

///////////////////////////////////////////////////////////

#articles {
  padding-top: 9em;
  .header-article {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    margin-bottom: 2em;
    .search {
      top: -0.5rem;
      position: relative;
      padding: 15px 0 0;
      height: 28px;
      width: 256px;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      input {
        color: white;
        font-weight: 400;
        font-size: 0.75rem;
        width: 100%;
        border: 0;
        border-bottom: 2px solid white;
        outline: 0;
        padding: 6px 2rem;
        background: transparent;
        transition: border-color 0.2s;
        &::placeholder {
          visibility: hidden;
        }
        &:placeholder-shown ~ label {
          cursor: text;
          top: 22px;
        }
        &:focus {
          border-color: $primary;
          padding-bottom: 6px;
          ~ label {
            position: absolute;
            top: 0;
            font-size: 1rem;
            color: $primary;
            transition: 0.2s;
          }
          ~ .search-icon {
            transition: 0.2s;
            stroke: $primary;
          }
        }
      }
      label {
        margin-left: 2rem;
        display: block;
        font-weight: 400;
        position: absolute;
        top: 0;
        transition: 0.2s;
        font-size: 1rem;
        pointer-events: none;
      }
      .search-icon {
        margin-left: 0.5rem;
        margin-bottom: 0px;
        position: absolute;
      }
    }
    .tri {
      text-align: right;
      .cmd-tri {
        margin-top: 1.5rem;
        button {
          margin-left: 0.25rem;
        }
        .category-deselect {
          border: 1px white solid;
          background: linear-gradient(
            144.37deg,
            rgba(18, 71, 94, 0.15) 0%,
            rgba(18, 71, 94, 0.05) 90.25%
          );
        }
      }
    }
  }
  .article {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 4rem;
    margin-bottom: 10rem;
    .info-articles {
      margin-left: 4.5rem;
      margin-right: 4rem;
      .content {
        background-image: url("data:image/svg+xml,%3Csvg width='456' height='278' viewBox='0 0 456 278' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b)'%3E%3Crect width='456' height='278' fill='url(%23paint0_linear)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b' x='-100' y='-100' width='656' height='478' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImage' stdDeviation='50'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0' x2='157.994' y2='361.648' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2312475E' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%2312475E' stop-opacity='0.05'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        padding: 2em;
        max-width: 20vw;
        @media (min-width: map-get($container-max-widths,lg)) {
          max-width: 20vw;
        }
        @media (min-width: map-get($container-max-widths,xl)) {
          max-width: 30vw;
        }
        @media (min-width: map-get($container-max-widths,xxl)) {
          max-width: 40vw;
        }
        @media (min-width: 1620px) {
          max-width: 35vw;
        }

        hr {
          margin: 1.5em 0;
        }
        h2 {
          font-weight: 700;
          margin-top: 1em;
        }
        .meta {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .date {
            padding-top: 0.25rem;
            display: flex;
            align-items: center;
            svg {
              margin-right: 0.25rem;
              padding-bottom: 2px;
            }
          }
          .category {
            margin-left: 0.25rem;
            color: $primary;
            font-weight: 700;
            font-size: 1em;
            p {
              color: white;
            }
          }
        }
        .interraction {
          margin-top: 2em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 600;
          color: $primary;

          .icons > * {
            margin-left: 1em;
          }
        }
      }
    }
    img {
      position: absolute;
      left: -3rem;
      width: 35rem;
      height: 21rem;
      object-fit: cover;
    }
  }
  .left {
    justify-content: initial;
    .info-articles {
      margin-left: 4rem;
      margin-right: 5rem;
    }
    img {
      right: -3rem;
      left: unset;
    }
  }
}
