.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 80%;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    input {
      color: white;
      font-weight: 400;
      font-size: 0.75rem;
      width: 100%;
      border: 0;
      border-bottom: 2px solid white;
      outline: 0;
      padding: 6px 0.25rem;
      background: transparent;
      transition: border-color 0.2s;
      &::placeholder {
        visibility: hidden;
      }
      &:placeholder-shown ~ label {
        cursor: text;
        top: 22px;
      }
      &:focus {
        border-color: $primary;
        padding-bottom: 6px;
        ~ label {
          position: absolute;
          top: 0;
          font-size: 1rem;
          color: $primary;
          transition: 0.2s;
        }
      }
    }
    label {
      margin-left: 0.25rem;
      display: block;
      font-weight: 400;
      position: absolute;
      top: 0;
      transition: 0.2s;
      font-size: 1rem;
    }
  }
  