

.container-global{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;    
    justify-content: center;

}

.backgrounddd{
    position: relative;
    overflow: hidden;
}

.precontent{

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.cont2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.cont3{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 

}








.codbar1{
/* eclatech bueno horizon blog */

   
    width: 470px;
    height: 40px;
}



.titre{
 
    width: 397px;
    height: 51px;
}

.soustitre{
    
    width: 409px;
    height: 22px;
    
}

.souvenir{
  
    width: 134px;
    height: 17px;
}

.cgu{
   
    width: 323px;
    height: 17px;
}

.textjamaislu{
    
    width: 871px;
    height: 374px;

}
.red{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.833vw;
    line-height: 28px;
    color: red;
}

.ligne{
    border-bottom: 1px solid white;
   
    width: 351px;

}


.ligne7{
    width: 216px;
}

.ice{
    position: absolute;

}

.ice1{
    position: flex;

}

.ice2{
    position: flex;

    
}
.ice3{
    position: flex;
    
}


.pseudo{
    width: 401px;
    height: 25.5px;
}
